In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
wdir=os.getcwd()
print('working directory')
print(str(wdir))

working directory
C:\Users\donat\ChemBioChem

In [3]:
    #d:\MDDona\water_methanol\WM_prod\SELECT_FFINAL\BOX1
    cs=input('new directory (the data directory) ? (y)  ' )
    if cs=='y':
        wdir =input()
        os.chdir(wdir)
        print(str(wdir))

new directory (the data directory) ? (y)  y
d:\\MDDona\\water_methanol\\WM_prod\\SELECT_FFINAL\\BOX1B\\caseE
d:\\MDDona\\water_methanol\\WM_prod\\SELECT_FFINAL\\BOX1B\\caseE

In [4]:
pwd

'd:\\MDDona\\water_methanol\\WM_prod\\SELECT_FFINAL\\BOX1B\\caseE'

In [5]:
case_dic={'Prot_RNA':'A','Prot_MEO':'B','Prot_H2O':'C','RNA_MEO':'D','RNA_H2O':'E','RNA_RNA':'F'}
print('case under study')
display(case_dic)
ntset_dic={'A':['A','G','U','C'], 'B':['MEO'], 'C':['SOL'],'D':['MEO'], 'E':['SOL'],'F':['A','G','U','C']}
sset_dic={'A':['nucleotides'], 'B':['Methanol'], 'C':['Water'],'D':['Methanol'], 'E':['water '],'F':['RNA']}
fst_dic={'A':'prot','B':'prot','C':'prot','D':'RNA','E':'RNA','F':'RNA'}
snd_dic={'A':'RNA','B':'MEO','C':'H2O','D':'MEO','E':'H2O','F':'RNA'}
#ntset_list=[['A','G','U','C'],['MEO'],['SOL']]
#display(ntset_dic)
mycase=input('case  ')

case under study

{'Prot_RNA': 'A',
 'Prot_MEO': 'B',
 'Prot_H2O': 'C',
 'RNA_MEO': 'D',
 'RNA_H2O': 'E',
 'RNA_RNA': 'F'}

case  E

In [6]:
ntset=ntset_dic[mycase]
print('case ', mycase,' ref. set')
display(ntset)

case  E  ref. set

['SOL']

In [7]:
ls *.log

 Volume in drive D has no label.
 Volume Serial Number is 8E63-FE31

 Directory of d:\MDDona\water_methanol\WM_prod\SELECT_FFINAL\BOX1B\caseE

09/30/2024  03:08 PM            59,627 hb_H2O25BOX1_BOX1.log
               1 File(s)         59,627 bytes
               0 Dir(s)  242,685,911,040 bytes free

In [8]:
print('Choose the correct .log file!!')

Choose the correct .log file!!

In [9]:
log_elab='hb_prot22BOX1_H2O.log'
print('file=',log_elab)
cs=input('need a change?  (y)  ')
if cs=='y': log_elab=input('new file =')
end=len(log_elab)-4
froot=log_elab[0:end]
print('file name root=  ',froot)

file= hb_prot22BOX1_H2O.log
need a change?  (y)  y
new file =hb_H2O25BOX1_BOX1.log
file name root=   hb_H2O25BOX1_BOX1

In [10]:
sline=[]
with open(log_elab, 'r') as file:
    lines = file.readlines()
    lines = [line.split() for line in lines]
file.close()
sline=lines[0]
lines[0]=sline[1:len(sline)]
print('lines[0]=',lines[0])                    #check
b=len(lines)-1
print('b=',b)
index_b=list(range(0, b))

lines[0]= ['Donor', 'Hydrogen', 'Acceptor']
b= 1389

In [11]:
df_dat=pd.DataFrame(data=lines[1:len(lines)], index=index_b, columns=lines[0])
sha=df_dat.shape
sha0=sha[0]
shab=sha0-1
print('hb number =',sha0, 'col. num.=',sha[1], 'shab=',shab)
display(df_dat)

hb number = 1389 col. num.= 3 shab= 1388

           Donor     Hydrogen    Acceptor
0          U1O5'        U1H5T  SOL15170OW
1           C3N4        C3H41  SOL11999OW
2           C3N4        C3H41  SOL15180OW
3           C3N4        C3H41  SOL15955OW
4           C3N4        C3H41  SOL18306OW
...          ...          ...         ...
1384  SOL29968OW  SOL29968HW1       U8O1P
1385  SOL29970OW  SOL29970HW1       U8O3'
1386  SOL30026OW  SOL30026HW1       U1O5'
1387  SOL30026OW  SOL30026HW1       C3O1P
1388  SOL30042OW  SOL30042HW1       U7O2P

[1389 rows x 3 columns]

In [12]:
Ap=[['','','']]*sha0
ic=-1
for i in range (0,sha0):
    ic+=1
    b=shab-i
    Ap1=df_dat.iloc[b,0].strip()
    Ap2=df_dat.iloc[b,1].strip()
    Ap3=df_dat.iloc[b,2].strip()
    Ap[i]=[Ap1,Ap2,Ap3]
col=df_dat.columns
#display(Ap[:])                                  #check
#display(len(Ap))                                #check
df1_dat=pd.DataFrame(data=Ap,columns=col)
df_dat=df1_dat
print('df_dat reversed')
display(df_dat)

df_dat reversed

           Donor     Hydrogen    Acceptor
0     SOL30042OW  SOL30042HW1       U7O2P
1     SOL30026OW  SOL30026HW1       C3O1P
2     SOL30026OW  SOL30026HW1       U1O5'
3     SOL29970OW  SOL29970HW1       U8O3'
4     SOL29968OW  SOL29968HW1       U8O1P
...          ...          ...         ...
1384        C3N4        C3H41  SOL18306OW
1385        C3N4        C3H41  SOL15955OW
1386        C3N4        C3H41  SOL15180OW
1387        C3N4        C3H41  SOL11999OW
1388       U1O5'        U1H5T  SOL15170OW

[1389 rows x 3 columns]

In [13]:
#display(df_dat.Donor[:])                  #check
#display(df_dat.columns[:])                #check

In [14]:
amin=''
res=''
number= ['0','1','2','3','4','5','6','7','8','9']
d_pres=''
d_amin=[]
d_res=[]
a_amin=[]
a_res=[]

In [15]:
for item in df_dat.Donor :
    ai=len(item)
    for i in range (0,ai):
        if item[i] not in number:
            amin=amin+item[i]
        else:
            ain=i
            for ii in range (ain,ai):
                d_pres=d_pres+item[ii]
            break
    ai=len(d_pres)
    for it in range (0,ai):
        if d_pres[it] in number:
            res=res+d_pres[it]
        else: break
    d_amin.append(amin)
    d_res.append(res)
    amin=''
    res=''
    d_pres=''

In [16]:
#count=0
#display(df_dat.Donor)
for item in df_dat.Acceptor:
#    count+=1
#    print('item', item, 'count=', count)
    ai=len(item)
    for i in range (0,ai):
        if item[i] not in number:
            amin=amin+item[i]
        else:
            ain=i
            for ii in range (ain,ai):
                d_pres=d_pres+item[ii]
            break
    ai=len(d_pres)
    for it in range (0,ai):
        if d_pres[it] in number:
            res=res+d_pres[it]
        else: break
    a_amin.append(amin)
    a_res.append(res)
    amin=''
    res=''
    d_pres=''

In [17]:
# display(d_amin[:])
# display(d_res[:])
# display(a_amin[:])
# display(a_res[:])
df_dat.insert(3,'D_resname',d_amin)
df_dat.insert(4,'D_resnum',d_res)
df_dat.insert(5,'A_resname',a_amin)
df_dat.insert(6,'A_resnum',a_res)
display(df_dat[:])

,Donor,Hydrogen,Acceptor,D_resname,D_resnum,A_resname,A_resnum
0,SOL30042OW,SOL30042HW1,U7O2P,SOL,30042,U,7
1,SOL30026OW,SOL30026HW1,C3O1P,SOL,30026,C,3
2,SOL30026OW,SOL30026HW1,U1O5',SOL,30026,U,1
3,SOL29970OW,SOL29970HW1,U8O3',SOL,29970,U,8
4,SOL29968OW,SOL29968HW1,U8O1P,SOL,29968,U,8
...,...,...,...,...,...,...,...
1384,C3N4,C3H41,SOL18306OW,C,3,SOL,18306
1385,C3N4,C3H41,SOL15955OW,C,3,SOL,15955
1386,C3N4,C3H41,SOL15180OW,C,3,SOL,15180
1387,C3N4,C3H41,SOL11999OW,C,3,SOL,11999
1388,U1O5',U1H5T,SOL15170OW,U,1,SOL,15170

In [18]:
nfile=froot+'.csv'
df_dat.to_csv(nfile, sep=',',index=False)

In [19]:
ls *.csv

 Volume in drive D has no label.
 Volume Serial Number is 8E63-FE31

 Directory of d:\MDDona\water_methanol\WM_prod\SELECT_FFINAL\BOX1B\caseE

10/25/2024  12:37 PM            66,005 df_hb_H2O25BOX1_BOX1.csv
11/12/2024  09:28 AM            59,928 hb_H2O25BOX1_BOX1.csv
               2 File(s)        125,933 bytes
               0 Dir(s)  242,685,911,040 bytes free

In [20]:
df_pload=pd.DataFrame()
df_pload=pd.read_csv(nfile,skipinitialspace=True)
display(df_pload)
shape=df_pload.shape
print('total items number =',shape[0])
dfline=shape[0]

,Donor,Hydrogen,Acceptor,D_resname,D_resnum,A_resname,A_resnum
0,SOL30042OW,SOL30042HW1,U7O2P,SOL,30042,U,7
1,SOL30026OW,SOL30026HW1,C3O1P,SOL,30026,C,3
2,SOL30026OW,SOL30026HW1,U1O5',SOL,30026,U,1
3,SOL29970OW,SOL29970HW1,U8O3',SOL,29970,U,8
4,SOL29968OW,SOL29968HW1,U8O1P,SOL,29968,U,8
...,...,...,...,...,...,...,...
1384,C3N4,C3H41,SOL18306OW,C,3,SOL,18306
1385,C3N4,C3H41,SOL15955OW,C,3,SOL,15955
1386,C3N4,C3H41,SOL15180OW,C,3,SOL,15180
1387,C3N4,C3H41,SOL11999OW,C,3,SOL,11999
1388,U1O5',U1H5T,SOL15170OW,U,1,SOL,15170

total items number = 1389

In [21]:
hb_prot=[]
hb_SOL=[]
hbd_prot=[]
hbd_SOL=[]
hba_prot=[]
hba_SOL=[]

In [22]:
cont=df_dat.D_resname[0]
print('Starting Donor Kind=',cont)
cuta=0
cutb=0
cute=0
if  cont  in ntset: cuta=1 
if cuta==0:
    for i in range (0,dfline):
        if df_pload.D_resname[i] in ntset: print ('cut elem=',i,' on total ',dfline); cutb=i;break
    print('cuta=',cuta)
    print('cutb=',cutb)
elif cuta==1:
    for i in range (0,dfline):
        if df_pload.D_resname[i] not in ntset: print ('cut elem=',i,' on total ',dfline); cutb=i;break
    print('cuta=',cuta)
    print('cutb=',cutb)
if (cuta==0) and (cuta==cutb):
    print('no '+sset_dic[mycase] +' as donor')
    cute=dfline
elif (cuta==1 and cutb==0):
    if (mycase=='A') or (mycase=='B') or (mycase=='C'):print('no peptides as donors'); cute=0
    if (mycase=='D') or (mycase=='E') :print('no nucleotides as donors'); cute=0
    if (mycase=='F'): print('nucleotides as donors and acceptors');cute=0
else: 
    cute=cutb
print('cuta=', cuta,'cute=',cute)

Starting Donor Kind= SOL
cut elem= 1248  on total  1389
cuta= 1
cutb= 1248
cuta= 1 cute= 1248

In [ ]:

hbd_first=[]
hbd_second=[]
hba_first=[]
hba_second=[]
hb_first=[]
hb_second=[]
for i in range (0,cute):
    str_c=df_pload.D_resname[i]+str(df_pload.D_resnum[i])
    if cuta==0 and str_c not in hbd_first:hbd_first.append(str_c);hb_first.append(str_c)
    if cuta==1 and str_c not in hbd_second: hbd_second.append(str_c);hb_second.append(str_c)
# initialization

for i in range (cute,dfline):
    str_c=df_pload.D_resname[i]+str(df_pload.D_resnum[i])
    if cuta==0 and str_c not in hbd_second:
        hbd_second.append(str_c)
        if str_c not in hb_second:hb_second.append(str_c)
    if cuta==1 and str_c not in hbd_first:
        hbd_first.append(str_c)
        if str_c not in hb_first:hb_first.append(str_c)
            
for i in range (0,cute):
    str_c=df_pload.A_resname[i]+str(df_pload.A_resnum[i])
    if cuta==0 and str_c not in hba_second:
        hba_second.append(str_c)
        if str_c not in hb_second: hb_second.append(str_c)
    if cuta==1 and str_c not in hba_first:
        hba_first.append(str_c)
        if str_c not in hb_first: hb_first.append(str_c)
            
for i in range (cute,dfline):
    str_c=df_pload.A_resname[i]+str(df_pload.A_resnum[i])
    if cuta==0 and str_c not in hba_first:
        hba_first.append(str_c)
        if str_c not in hb_first: hb_first.append(str_c)
    if cuta==1 and str_c not in hba_second:
        hba_second.append(str_c)
        if str_c not in hb_second: hb_second.append(str_c)

In [ ]:
print('len hbd_',fst_dic[mycase], len(hbd_first))
print('len hba_', fst_dic[mycase], len(hba_first))
print('len hb_',fst_dic[mycase],len(hb_first))
print(' ')
print('len hbd_',snd_dic[mycase], len(hbd_second))
print('len hba_',snd_dic[mycase], len(hba_second))
print('len hb_',snd_dic[mycase],len(hb_second))

In [ ]:
#df_pload=df_pload.drop(labels=['Kind'],axis=1)
if (mycase=='A') or (mycase=='D') or (mycase=='E') or (mycase=='F'):
    RNAdic={'U1':'mi','U2':'mi','C3':'mi','A4':'mi','C5':'mi','A6':'mi','U7':'mi','U8':'mi','A9':'m','A8':'m','G7':'m','U6':'m','G5':'m','U4':'m','A3':'m','A2':'m'}
    display('data frame df_pload',df_pload)
    #df_pload=df_pload.drop(df_pload.columns[7],axis=1)
    display('df_pload.shape= ',df_pload.shape)
    display('RNA seed nucleotide set= ',RNAdic)
    lD=df_pload.shape[0]
    kind=[]
    for i in range (0,lD):
        AA=df_pload.D_resname[i]+str(df_pload.D_resnum[i])
#        print('AA=', AA)
#        if AA[0:2] in RNAdic : kind.append(RNAdic[AA[0:2]])
        if AA in RNAdic : kind.append(RNAdic[AA])
        else:
            AA=df_pload.A_resname[i]+str(df_pload.A_resnum[i])
#            print('AA=', AA)
            kind.append(RNAdic[AA])
#    display('kind=',kind)
    df_pload.insert(7,'Kind',kind)
    display(df_pload)
else:print('not the case')

In [ ]:
auto_hb=[]
auto=0
for i in range (0,dfline):
    str_1=df_pload.D_resname[i]+str(df_pload.D_resnum[i])
    str_2=df_pload.A_resname[i]+str(df_pload.A_resnum[i])
    if str_1 == str_2: auto_hb.append('0')
    else:auto_hb.append('1'); auto+=1
df_pload.insert(loc=7,column='auto', value=auto_hb)
display(df_pload)
#display(df_pload.loc[95:100])

In [ ]:
csv_file='df_'+froot+'.csv'
print('data stored in file ',csv_file )
df_pload.to_csv(csv_file, index=False)

In [ ]:
ls *.csv

In [ ]:
df_check=pd.DataFrame
check=input('file to read?')
df_check=pd.read_csv(check)
display(df_check)